.reports-card {
    padding: 25px 25px 0px 25px;
}

.reports-card-style {
    cursor: pointer;
    background-color: var(--surface-card);
    padding: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08) !important;

}
.reports-card-style:hover{
    background-color: #efefef;
}

.report-card-align {
    display: flex;
    align-items: center;
    gap: 10px;
}
.reports-card .reports-card-style .report-card-align .icon-style{
    font-size: 18px;
}